<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
			    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
			    xmlns:p="http://www.springframework.org/schema/p"  
			    xsi:schemaLocation="http://www.springframework.org/schema/beans  
		        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="jbt1" class="MyPack.JobTypes">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="Java Developer"></constructor-arg>
        <constructor-arg value="15/03/2023"></constructor-arg>
    </bean>
    
     <bean id="jbt2" class="MyPack.JobTypes">
        <constructor-arg value="2" type="int"></constructor-arg>
        <constructor-arg value="Php Developer"></constructor-arg>
        <constructor-arg value="8/03/2023"></constructor-arg>
    </bean>
    
      <bean id="jbt3" class="MyPack.JobTypes">
        <constructor-arg value="3" type="int"></constructor-arg>
        <constructor-arg value="UI/UX Developer"></constructor-arg>
        <constructor-arg value="11/03/2023"></constructor-arg>
    </bean>
    
       <bean id="pst1" class="MyPack.PostedBy">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="Nitish Kumar"></constructor-arg>
        <constructor-arg value="nitish12@gmail.com"></constructor-arg>
    </bean>
    
        <bean id="pst2" class="MyPack.PostedBy">
        <constructor-arg value="2" type="int"></constructor-arg>
        <constructor-arg value="Rohan Shah"></constructor-arg>
        <constructor-arg value="rohan32shah@gmail.com"></constructor-arg>
    </bean>
    
         <bean id="pst3" class="MyPack.PostedBy">
        <constructor-arg value="3" type="int"></constructor-arg>
        <constructor-arg value="Harshal Mandale"></constructor-arg>
        <constructor-arg value="harshal45mandale@gmail.com"></constructor-arg>
    </bean>
    
         <bean id="jbs" class="MyPack.Jobs">
             <constructor-arg value="1" type="int"></constructor-arg>
             <constructor-arg  value="Web Developers"></constructor-arg>
             <constructor-arg>
                 <map>
                     <entry key-ref="jbt1" value-ref="pst1"></entry>
                     <entry key-ref="jbt2" value-ref="pst2"></entry>
                     <entry key-ref="jbt3" value-ref="pst3"></entry>                                
                 </map>
             </constructor-arg>
         </bean>
         
</beans>